{% extends "layout.html" %}

{% block body %}
{% if error %}
<div class="alert alert-danger">
  {{ error }}
</div>
{% endif %}

<form method="POST" action="{{ url_for('candidates_edit', candidate_id=candidate.id) }}">
  <div>
    {{ form.name.label }}
    {{ form.name }}
  </div>
  <div>
    {{ form.url.label }}
    {{ form.url }}
  </div>
  <div class="checkbox">
    {{ form.selected.label }}
    {{ form.selected }}
  </div>
  <input type="submit" class="btn btn-primary" value="{{ _('Save changes') }}" />
</form>

<form method="POST" action="{{ url_for('candidates_delete', candidate_id=candidate.id) }}">
    <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}"/>
  </form>
{% endblock %}