{% extends "layout.html" %}

{% block body %}
<p>
  This application implements <a href="https://en.wikipedia.org/wiki/Approval_voting">approval voting</a> with
  unrestricted veto-rights.
</p>
<p>Please vote in good faith, i.e. only veto a candidate if you <em>really</em> don't want to see it.</p>
<p>Using a recognizable name is required to prevent abuse.</p>

{% if candidates %}
<div id="candidates">
  <div class="candidate header desktop">
    <div class="name font-weight-bold">Name</div>
    <div class="nominator font-weight-bold">Nominator</div>
    <div class="actions"></div>
  </div>
  {% for candidate in candidates %}
  <div class="candidate {{ 'vetoed' if candidate.vetoes }}">
    <div class="name">
      {% if candidate.url == "" %}
        {{ candidate.name }}
      {% else %}
        <a href="{{ candidate.url }}">{{ candidate.name }}</a>
      {% endif %}
    </div>

    <div class="mobile-block">
      <p class="nominator"><span class="mobile">Nominated by</span> {{ candidate.nominator }}</p>
      {% if candidate.approvers %}<p class="mobile approvers">{{ candidate.approvers | length }}👍 ({{ candidate.approvers | map('empty_to_epsilon') | listify }})</p>{% endif %}
      {% if candidate.vetoers %}<p class="mobile vetoers">❌ {{ candidate.vetoers | map('empty_to_epsilon') | listify }}</p>{% endif %}
    </div>

    <div class="actions">
      <form method="POST" class="action" action="{{ url_for('candidates_set_approved', candidate_id=candidate.id) }}">
        <input type="submit" class="desktop action btn {{ 'btn-success' if candidate.approved }}" value="{{ candidate.approval }} 👍" title="{{ candidate.approvers|map('empty_to_epsilon')|listify if candidate.approvers else 'No approvals' }}" />
        <input type="submit" class="mobile action btn {{ 'btn-success' if candidate.approved }}" value="👍" title="{{ candidate.approvers|map('empty_to_epsilon')|listify if candidate.approvers else 'No approvals' }}" />
      </form>
      <form method="POST" class="action" action="{{ url_for('candidates_set_veto', candidate_id=candidate.id) }}">
        <input type="submit" class="action btn {{ 'btn-danger' if candidate.vetoed }}" value="❌" title="{{ candidate.vetoers|map('empty_to_epsilon')|listify if candidate.vetoers else 'No vetoes' }}" />
      </form>
      <a href="{{ url_for('candidates_edit', candidate_id=candidate.id)}}">✏️</a>
    </div>
  </div>

  <p>
    {{ n_of_voters }} {{ 'people have' if n_of_voters > 1 else 'person has' }} voted.
    {{ winning|map('quote')|listify }} {{ 'are tied' if winning | length > 1 else 'is winning' }}.
  </p>
  {% endfor %}
  {% else %}
    <div class="notification error">
      <p><strong>There are no candidates in the system.</strong></p>
      <p>If this seems to be an error, contact yllapito (at) tko-aly.fi.</p>
    </div>
  </div>
  {% endif %}

<p>
  <a href="{{ url_for('candidates_index_selected') }}">⏪ View previously selected candidates</a>
</p>
{% endblock %}
