{% extends "layout.html" %}

{% block body %}
<p>
  This application implements <a href="https://en.wikipedia.org/wiki/Approval_voting">approval voting</a> with
  unrestricted veto-rights. Please vote in good faith, i.e. only veto a candidate if you <i>really</i> don't want to see it. Using a recognizable name is required to prevent abuse.
</p>

<table>
  <tr>
    <th>Candidate</th>
    <th>Nominator</th>
    <th>Tags</th>
    <th>Approvals</th>
    <th>Vetoers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for candidate in candidates %}
  <tr>
    <td>
    {% if candidate.url == "" %}
    {{ candidate.name }}
    {% else %}
    <a href="{{ candidate.url }}">{{ candidate.name }}</a>
    {% endif %}
    </td>
    <td>{{ user.query.get(candidate.nominator_id).name }}</td>
    <td>{{ candidate.displayed_tags }}</td>
    <td>{{ candidate.approval }}</td>
    <td>{{ candidate.vetoers }}</td>
    <td>
      <form method="POST" action="{{ url_for('candidates_set_approved', candidate_id=candidate.id) }}">
        <input type="submit" value="(un)Approve" />
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('candidates_set_veto', candidate_id=candidate.id) }}">
        <input type="submit" value="(un)Veto" />
      </form>
    </td>
    <td>
      <a href="{{ url_for('candidates_edit', candidate_id=candidate.id)}}">Edit</a>
    </td>
  </tr>
  {% endfor %}
</table>

<p>
  {{ n_of_voters }} people have voted, {{ winning }} is winning.
</p>
{% endblock %}