{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('candidates_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.url.label }}
      </td>
      <td>
        {{ form.url }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="{{ _('Add a new candidate') }}" />
      </td>
    </tr>

</form>
{% endblock %}