{% extends "layout.html" %}

{% block body %}
{% if error %}
<div class="alert alert-danger">
  {{ error }}
</div>
{% endif %}

<form method="POST" action="{{ url_for('auth_edit') }}">
  <div>
    {{ form.name.label }}
    {{ form.name }}
  </div>
  <div>
    {{ form.username.label }}
    {{ form.username }}
  </div>
  <input type="submit" class="btn btn-primary" value="Save changes" />
</form>

<form method="POST" action="{{ url_for('auth_delete') }}">
  <input type="submit" class="btn btn-danger" value="Delete account" />
</form>
{% endblock %}