{% extends "layout.html" %}

{% block body %}
{{ error }}
<p>
  Please note that this application is not secure in any way. Any user can log in with your username.
</p>
<form method="POST" action="{{ url_for('auth_register') }}">
  <table>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Register" />
      </td>
    </tr>
</form>
{% endblock %}